body{
    background-image: url(https://wallpaperaccess.com/full/1567674.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h2{
    color:white;

}
h3{
    color:white;
}